* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content-2 {
  background: whitesmoke;
  box-shadow: 0 0 10px rgb(163, 163, 163);
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.loading {
  background: rgba(0, 0, 0, 0.337);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  width: 100px;
}

.error {
  color: red;
}

.active {
  color: rgb(0, 149, 255);
  font-weight: 700;
}
